@font-face {
    font-family: 'Consola';
    src: url('../fonts/Consola.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Consola-Bold';
    src: url('../fonts/Consola-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}